html {
    background-image: url("./resources/oliver-sjostrom-y-GMWtWW_H8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {  
    text-align: center;
}

.container {
    background-color: rgba(241, 248, 255, 0.7);
    width: 100%;
    height: 90%;
    display: block;
}

.box {
    width: 30%;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

@media screen and (max-width: 500px) {
    html {
        background-size: cover;
    }

    .box {
        width: 90%;
        height: 200px;
    }
}